{% extends "base.html" %}
{% load staticfiles %}

{% block jumbotron %}
<div class="divider"></div>

<div class="content">
	<div class="container">
		<h1 class="single">Our best students</h1>

		<div class="main-content">
			<div class="slider-con">
				<ul class="bxslider">
					<li>
						<div class="slide">
							<ul>

								<li><a href="#"><img src="{% static 'images/dummy/student-md-1.jpg' %}" /></a></li>
								<li><a href="#"><img src="{% static 'images/dummy/student-md-2.jpg' %}" /></a></li>
								<li><a href="#"><img src="{% static 'images/dummy/student-md-3.jpg' %}" /></a></li>
								<li><a href="#"><img src="{% static 'images/dummy/student-md-4.jpg' %}" /></a></li>
								<li><a href="#"><img src="{% static 'images/dummy/student-md-1.jpg' %}" /></a></li>
								<li><a href="#"><img src="{% static 'images/dummy/student-md-2.jpg' %}" /></a></li>
								<li><a href="#"><img src="{% static 'images/dummy/student-md-4.jpg' %}" /></a></li>
								<li><a href="#"><img src="{% static 'images/dummy/student-md-3.jpg' %}" /></a></li>
								<li><a href="#"><img src="{% static 'images/dummy/student-md-1.jpg' %}" /></a></li>
								<li><a href="#"><img src="{% static 'images/dummy/student-md-4.jpg' %}" /></a></li>
								<li><a href="#"><img src="{% static 'images/dummy/student-md-1.jpg' %}" /></a></li>
								<li><a href="#"><img src="{% static 'images/dummy/student-md-2.jpg' %}" /></a></li>

							</ul>
						</div>
					</li>

				</ul>
			</div>
		</div>

		<aside id="sidebar">
			<h1 class="single">Staff</h1>
			<div class="info">
				<h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</h3>
				<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
			</div>
		</aside>
		<!-- / sidebar -->


{% endblock %}
